/* 밑의 계속 뜨는 '더 알아보기' 부분 */
.seeMoreWrapper {
  bottom: 0;
  position: fixed;
  width: 100%;
  background-color: #258bf7;
  transition: 0.5s;
  box-shadow: 0 -0.125rem 0.313rem rgb(0 0 0 / 5%);
  z-index: 2;
  height: 4.375rem;
}
.seeMoreContainer {
  margin: 0 auto;
  width: 90%;
  position: relative;
  max-width: 66.25rem;
  display: flex;
  align-items: center;
}
.seeMoreContainer > div > i {
  font-family: FontAwesome;
}
.seeMoreText {
  margin-right: auto;
  text-align: left;
  color: #fff;
  font-size: 1.25rem;
  font-weight: 400;
  display: inline-block;
  vertical-align: middle;
}
.seeMoreButton {
  margin-left: auto;
  float: right;
  width: 7.375rem;
  height: 2.5rem;
  line-height: 2.5rem;
  border-radius: 0.313rem;
  background-color: #fff;
  color: #258bf7;
  font-size: 0.938rem;
  font-weight: 600;
  text-align: center;
}
