html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
ol,
ul,
div,
nav,
button {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-size: 14px;
  font-weight: 500;
  font-family: 'Pretendard JP';
  font-feature-settings: 'ss05';
  color: #333333;
  line-height: 1.423;
}
input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  font: inherit;
}
button,
select {
  text-transform: none;
}
button {
  margin: 0;
  padding: 0;
  border: 0;
  background: none;
  cursor: pointer;
}
*:before,
*after {
  box-sizing: border-box;
}
hr {
  box-sizing: content-box;
  height: 0;
}
a,
a:active,
a:hover,
a:visited {
  text-decoration: none;
  color: inherit;
  font-size: inherit;
  cursor: pointer;
}
.remove_background {
  border: none;
  background-color: white;
  color: white;
}
body {
  font-size: 14px;
  font-weight: 500;
  font-family: 'Pretendard JP';
  font-feature-settings: 'ss05';
  color: #333333;
  line-height: 1.423;
}
input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
button,
select {
  text-transform: none;
}

.remove_background {
  border: none;
  background-color: white;
  color: white;
}
.SvgIconRoot {
  display: flex;
  align-items: inherit;
  justify-content: inherit;
}
.root__svg__DKYBi {
  user-select: none;
  width: 1em;
  height: 1em;
  display: inline-block;
  fill: currentColor;
  font-size: inherit;
  flex-shrink: 0;
}
.set_center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.set_middle {
  max-width: 1060px;
  width: 90%;
  margin: 0 auto;
}
.set_mwidth {
  max-width: 66.25rem;
  margin: 0 auto;
}
.section_wrapper_9in1 {
  max-width: 1060px;
  /* width: 90%; */
  margin: 0 auto;
}
.setPlace {
  display: flex;
  align-items: center;
}
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/variable/pretendardvariable.css');
