.NavBar {
  /* font-family: 'pretendard jp'; 나중에 글씨 설정해주기*/
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  border-bottom: solid 0.1px rgba(218, 216, 216, 0.621);
  position: fixed;
  top: 0;
  background-color: #fff;
  z-index: 8;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 75%;
  max-width: 1060px;
}
@media (max-width: 1252px) {
  .navbar {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 81%;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .navbar {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
}

.mainCategoryList {
  display: none;
  position: absolute;
  top: 49.75px;
  left: -15px;
  border-left: 0.063rem solid #f7f9fa;
  border-right: 0.063rem solid #f7f9fa;
  height: calc(100vh - 3.125rem);
  width: 13.75rem;
  background-color: #fff;
  /* overflow-y: auto; */
  z-index: 3;
}
.mainCategoryList li {
  height: 2.5rem;
  display: flex;
  align-items: center;
  flex: 1 1;
  width: 100%;
  cursor: pointer;
}
.mainCategoryList li:hover {
  background-color: rgba(238, 237, 237, 0.731);
  width: inherit;
  display: flex;
  align-items: center;
}
.mainCategoryList li em {
  font-size: 0.813rem;
  font-weight: 700;
  font-style: normal;
  padding: 0 1.25rem;
  letter-spacing: normal;
  color: #333;
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.navbar__menu {
  display: flex;
  list-style: none;
  padding-left: 0;
}
.hamberger__button {
  list-style: none;
  color: white;
  border: none;
  background-color: white;
  line-height: 14px;
  outline: none;
  cursor: pointer;
  position: relative;
}
.hamberger__button > img {
  width: 17px;
  height: 14px;
}
.mainCategoryListPopUp {
  height: 50px;
  position: relative;
  cursor: pointer;
}
.mainCategoryListPopUp:hover .mainCategoryList {
  display: block;
}
.main__logo {
  /* font-family: 'icomoon' !important; 나중에 글씨 설정해주기*/
  font-style: normal;
  font-weight: bold;
  font-variant: normal;
  text-transform: none;
  margin-left: 10px;
  font-size: 20px;
  line-height: 14px;
  cursor: pointer;
}
/* -- header 가운데 글씨부분 -- */
@media (min-width: 992px) and (max-width: 1100px) {
  .navbar__list {
    margin: 0 auto;
    display: flex;
    flex: 1 1;
    font-size: 11px;
  }
}
.navbar__list {
  display: flex;
  list-style: none;
  padding-left: 0;
  font-size: 14px;
  font-weight: 550;
  color: rgb(94, 94, 94);
}
.navbar__list li {
  padding: 0 11.5px;
  height: 50px; /* NavBar의 height와 navbar의 padding top 사이즈를 합쳐서 이게 hover 그림자의 위치인것임*/
  line-height: 51px;
  cursor: pointer;
  color: inherit;
}
.navbar__list > li > div {
  color: inherit;
}
.navbar__list li:hover {
  box-shadow: 0 -2px rgb(211, 211, 211) inset;
}

/* -- header 오른쪽부분 -- */

.navbar_right {
  display: flex;
  list-style: none;
  align-items: center;
}
#setPlace {
  display: flex;
  align-items: center;
}
#loginheader {
  display: flex;
  align-items: center;
}

.SearchButton {
  background: none;
  border: none;
  margin-top: 5px;
}
.loginSearch {
  padding: 0 0.625rem;
}
.loginNotiButon {
  margin-top: 5px;
  padding: 0 0.625rem;
  margin-right: 0.625rem;
}
.profileButtonBox {
  margin-right: 1rem;
  position: relative;
}
.profileButton {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  border: 0.0625rem solid #e1e2e3;
  background-color: #fff;
  overflow: hidden;
}
.profileButton > img {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-position: 50%;
  background-size: cover;
}

.menuPopOverWrapper {
  position: absolute;
  top: 100%;
  right: -27px;
  margin-top: 13px;
  padding: 0 !important;
  display: block;
  transform: translate(50%, 8px);
  min-width: 194px;
  border-radius: 10px;
  box-shadow: 1px 2px 10px 0 rgb(0 0 0 / 30%);
  border: 1px solid #cdcdcd;
  background-color: #fff;
}
.menuPopOverList {
  padding-top: 0.875rem;
  display: flex;
  flex-direction: column;
  min-width: 12rem;
}
.menuPopOverList > li {
  width: 100%;
  height: 2.125rem !important;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  font-size: 14px;
  color: #333;
  font-weight: 600;
  line-height: 1;
}
.menuPopOverList > li:hover {
  background-color: rgba(238, 237, 237, 0.731);
}
.menuPopOverList > li > a {
  font-weight: 500 !important;
  line-height: normal !important;
  padding: 8px !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
#logout{
  height: 3.125rem !important;
  background-color: #f7f7f7;
  border-top: .0625rem solid #ececec;
  color: #333;
  font-size: .875rem;
  width: 100%;
  border-radius: 0 0 10px 10px;
  margin-top: .5625rem;
}
.logoutButton{
  width: 100%;
  height: 100%;
  font-weight: 500 !important;
  line-height: normal !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cornerWrapper{
  overflow: hidden;
  position: absolute;
  right: 43%;
  bottom: 100%;
  height: 11px;
  overflow: hidden;
  margin-bottom: -1px;
  transform: translateX(-47px);
}
.corner {
  content: '';
  margin-top: 4px;
  border: 1px solid #cdcdcd;
  background-color: #fff;
  height: 14px;
  width: 14px;
  display: block;
  border-top-right-radius: 30%;
  transform: rotate(-55deg) skewX(-20deg);
}

#signup_button {
  margin: 0;
  background: none;
  font-size: 13px;
  font-weight: 550;
  line-height: 32px;
  height: 34px;
  padding: 0 14px;
  border: none;
  color: rgb(94, 94, 94);
}
.draw_small_line {
  width: 1px;
  height: 10px;
  background-color: #e1e2e3;
  margin: 10px;
}
.ServiceButton {
  font-size: 13px;
  color: #666;
  line-height: 30px;
  height: 30px;
  border: 1px solid #e1e2e3;
  border-radius: 15px;
  padding: 0 10px;
  margin-left: 15px;
  font-weight: 400;
}
